@charset "UTF-8";

*:not(h1) {
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

img {
  max-width: 100%;
}

/*animation LOADER*/
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.99;
  }
  99% {
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.99;
  }
  99% {
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@-webkit-keyframes loadBars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loadBars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.load {
  position: absolute;
  z-index: 6;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  -webkit-animation: loader 3000ms 0s forwards;
          animation: loader 3000ms 0s forwards;
}
.load__bar {
  height: 70%;
  width: 6vh;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-animation: loadBars 1000ms backwards infinite ease-in-out alternate;
          animation: loadBars 1000ms backwards infinite ease-in-out alternate;
}

/*localisation*/
.myLocation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  box-shadow: inset 0 5px 5px -5px rgb(129, 129, 129);
}
.myLocation .locText {
  margin: 0;
}
.myLocation .locText::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  padding-right: 20px;
}

.locGuide {
  height: 250px;
  background-color: #f2f2f2;
  text-align: center;
}
.locGuide h2 {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.locGuide p {
  padding-left: 20px;
  padding-right: 20px;
}
.locGuide .btn {
  margin-top: 15px;
}

/*fonctionnement du site*/
@media screen and (min-width: 992px) {
  .op {
    display: flex;
    justify-content: space-around;
  }
}

.opTitle {
  margin-top: 50px;
  padding-left: 20px;
}
@media screen and (min-width: 992px) {
  .opTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.opNumber {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 15px;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}

.opBox {
  display: flex;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 4px 4px 4px lightgray;
  justify-content: space-between;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.opBox:hover {
  background-color: #f2eafb;
}
.opBox:hover .opIcon {
  color: #9356DC;
}
@media screen and (min-width: 992px) {
  .opBox {
    width: 300px;
  }
}

.opIcon {
  padding-right: 20px;
}

/*les restaurants*/
.restaurants {
  background-color: #f2f2f2;
  margin-top: 70px;
  height: 1200px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    height: 500px;
  }
}
.restaurants h2 {
  padding-left: 30px;
  padding-top: 30px;
}

@media screen and (min-width: 992px) {
  .restCards {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
}

.restCard {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  height: auto;
  max-height: 400px;
  position: relative;
  box-shadow: 2px 1px 4px 1px lightgray;
  border-radius: 20px;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .restCard {
    box-shadow: 2px 2px 4px 2px lightgray;
    width: 265px;
  }
}

.restCard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.newRest {
  position: absolute;
  right: 20px;
  top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newRest p {
  margin: 0;
}

.restInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
@media screen and (min-width: 992px) {
  .restInfo {
    margin-right: 0px;
  }
}
.restInfo .restText h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.restInfo .restText p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.restInfo .likeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  position: relative;
  font-size: x-large;
  cursor: pointer;
}
.restInfo .likeIcon .likeIconWhite {
  position: absolute;
  top: 23px;
  left: 23px;
  z-index: 2;
}
.restInfo .likeIcon .likeIconPink {
  position: absolute;
  top: 23px;
  left: 23px;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(0);
}
.restInfo .likeIcon:active > .likeIconWhite {
  z-index: -2;
}
.restInfo .likeIcon:active > .likeIconPink {
  -webkit-animation: likeIcon 1000ms forwards;
          animation: likeIcon 1000ms forwards;
}
@media screen and (min-width: 992px) {
  .restInfo .likeIcon:hover > .likeIconWhite {
    z-index: -2;
  }
  .restInfo .likeIcon:hover > .likeIconPink {
    -webkit-animation: likeIcon 1000ms forwards;
            animation: likeIcon 1000ms forwards;
  }
}
@-webkit-keyframes likeIcon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes likeIcon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

header {
  display: flex;
  width: auto;
}

header a {
  position: absolute;
  top: 25px;
  left: 30px;
  font-weight: bold;
  font-size: x-large;
}

/*animation apparition des catégories de plats*/
@-webkit-keyframes progressDishes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes progressDishes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dishesCategory-1 {
  -webkit-animation: progressDishes 1s 1s backwards;
          animation: progressDishes 1s 1s backwards;
}

.dishesCategory-2 {
  -webkit-animation: progressDishes 1s 2s backwards;
          animation: progressDishes 1s 2s backwards;
}

.dishesCategory-3 {
  -webkit-animation: progressDishes 1s 3s backwards;
          animation: progressDishes 1s 3s backwards;
}

@media screen and (min-width: 992px) {
  .dishesCategory {
    width: 33%;
  }
}

/*image restaurant*/
.imgMenu {
  margin-top: 0;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}
.imgMenu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 2;
}

/*menu*/
.completeMenu {
  height: 1250px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  z-index: 3;
  background-color: #f2f2f2;
}
@media screen and (min-width: 992px) {
  .completeMenu {
    height: 550px;
  }
}
.completeMenu h1 {
  margin-bottom: 20px;
  font-size: 26px;
  padding-left: 20px;
}

.restNameMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-top: 20px;
}
.restNameMenu i {
  font-size: x-large;
  padding-left: 30px;
}

/*catégories*/
@media screen and (min-width: 992px) {
  .dishesCategories {
    display: flex;
    justify-content: space-around;
  }
}

.dishesCatTitle h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 5px;
}

.borderDishesCat {
  width: 50px;
  margin-left: 30px;
  border-top: 3px solid #99E2D0;
}

/*plats*/
.dishesCard {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px lightgray;
}
.dishesCard p {
  margin: 0;
}

.dishesTxt {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  transform: scaleX(1);
}

.dishesName {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishesPrice {
  min-width: 50px;
  padding-left: 10px;
}

.dishesName,
.dishesPrice {
  font-weight: bold;
}

.dishesInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.dishesSide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*animation check sur le plat*/
.dishesCheck {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dishesCheck__circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishesCheck__circle .checkIcon {
  color: #99E2D0;
}

.dishesCard .dishesCheck {
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}
.dishesCard:active > .dishesCheck {
  transform: scaleX(1);
}
.dishesCard:active > .dishesTxt {
  width: calc(100% - 80px);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .dishesCard:hover > .dishesCheck {
    transform: scaleX(1);
    cursor: pointer;
  }
  .dishesCard:hover > .dishesTxt {
    width: calc(100% - 80px);
    cursor: pointer;
  }
}
.dishesCard:active > .dishesCheck > .dishesCheck__circle {
  -webkit-animation: rotate 700ms ease 0s;
          animation: rotate 700ms ease 0s;
}
@media screen and (min-width: 992px) {
  .dishesCard:hover > .dishesCheck > .dishesCheck__circle {
    -webkit-animation: rotate 700ms ease 0s;
            animation: rotate 700ms ease 0s;
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  height: 200px;
  width: 100%;
  background-color: #343434;
  color: white;
}
footer h4 {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
  padding: 30px;
  padding-bottom: 20px;
}

.footerList {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}
@media screen and (min-width: 992px) {
  .footerList {
    padding-left: 50px;
  }
}
.footerList li {
  padding-bottom: 5px;
}
.footerList li a {
  text-decoration: none;
  color: white;
}

#propose::before {
  font: var(--fa-font-solid);
  content: "\f2e7";
  padding-right: 16px;
}

#partnership::before {
  font: var(--fa-font-solid);
  content: "\f4c4";
  padding-right: 10px;
}

.btn {
  height: 50px;
  width: 250px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 2px 4px 2px lightgray;
}
.btn:hover {
  box-shadow: 2px 3px 5px 3px lightgray;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  cursor: pointer;
}
.btn__order {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.testContainBtn {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  position: relative;
}

.testContain {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px lightgray;
}
.testContain p {
  margin: 0;
}

.testTxt {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  transform: scaleX(1);
}

.testName {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testPrice {
  min-width: 50px;
  padding-left: 10px;
}

.testName,
.testPrice {
  font-weight: bold;
}

.testInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.testSide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testCheck {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.testCheck__circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testCheck__circle i {
  color: #99E2D0;
}

.testContainBtn:hover + .testContain > .testTxt {
  width: calc(100% - 80px);
  cursor: pointer;
}
.testContainBtn:hover + .testContain > .testCheck {
  transform: scaleX(1);
}

.testCheck {
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}
.testCheck:hover {
  transform: scaleX(1);
  cursor: pointer;
}

.testCheck:hover + .testTxt {
  width: calc(100% - 80px);
}

/*

.btn {
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: rotate(0deg);
        }
        & > .boxes--rotTurns {
             transform: rotate(0turn);
        }
    }
}

.boxes {
   &--rotDegrees {
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
    }

    &--rotTurns {
        background: pink;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}

*//*# sourceMappingURL=main.css.map */