/* tablette : 768
smartphone : 375 */
*:not(h1) {
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  width: auto;
}

main {
  width: auto;
}

footer {
  width: auto;
}

img {
  max-width: 100%;
}

.myLocation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  box-shadow: inset 0 5px 5px -5px rgb(129, 129, 129);
}
.myLocation .locText {
  margin: 0;
}
.myLocation .locText::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  padding-right: 20px;
}

.locGuide {
  height: 250px;
  background-color: #f2f2f2;
  text-align: center;
}
.locGuide h2 {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.locGuide p {
  padding-left: 20px;
  padding-right: 20px;
}
.locGuide .btn {
  margin-top: 15px;
}

.opTitle {
  margin-top: 50px;
  padding-left: 20px;
}

.opNumber {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 15px;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}

.opBox {
  display: flex;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 4px 4px 4px lightgray;
  justify-content: space-between;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.opBox:hover {
  background-color: #f2eafb;
}
.opBox:hover .opIcon {
  color: #9356DC;
}

.opIcon {
  padding-right: 20px;
}

.restaurants {
  background-color: #f2f2f2;
  margin-top: 70px;
  height: 1200px;
}
.restaurants h2 {
  padding-left: 30px;
  padding-top: 30px;
}

.restCard {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  height: auto;
  max-height: 400px;
  position: relative;
  box-shadow: 2px 1px 4px 1px lightgray;
  border-radius: 20px;
  background-color: white;
}

.restCard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.newRest {
  position: absolute;
  right: 20px;
  top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newRest p {
  margin: 0;
}

.restInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
.restInfo .restText h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.restInfo .restText p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.restInfo .likeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.restInfo .likeIcon:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.restInfo .likeIcon:hover::after {
  opacity: 1;
}
.restInfo .likeIcon::after {
  font: var(--fa-font-solid);
  content: "\f004";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

header a {
  position: absolute;
  top: 25px;
  left: 30px;
  font-weight: bold;
  font-size: x-large;
}

.imgMenu {
  margin-top: 0;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}
.imgMenu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 2;
}

.completeMenu {
  height: 1250px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  z-index: 3;
}
.completeMenu h1 {
  margin-bottom: 20px;
  font-size: 26px;
  padding-left: 20px;
}

.restNameMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-top: 20px;
}
.restNameMenu i {
  font-size: x-large;
  padding-left: 30px;
}

.completeMenu {
  background-color: #f2f2f2;
}

.dishesCategory h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 5px;
}

.borderDishesCat {
  width: 50px;
  margin-left: 30px;
  border-top: 3px solid #99E2D0;
}

.dishesCard {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px lightgray;
}
.dishesCard p {
  margin: 0;
}

.dishesTxt {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
}

.dishesName {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
}

.dishesName, .dishesPrice {
  font-weight: bold;
}

.dishesInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.dishesCheck {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dishesCheck__circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishesCheck__circle i {
  color: #99E2D0;
}

footer {
  height: 200px;
  background-color: #4d4d4d;
  color: white;
}
footer h4 {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
  padding: 30px;
  padding-bottom: 20px;
}

.footerList {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}
.footerList li {
  padding-bottom: 5px;
}
.footerList li a {
  text-decoration: none;
  color: white;
}

#propose::before {
  font: var(--fa-font-solid);
  content: "\f2e7";
  padding-right: 16px;
}

#partnership::before {
  font: var(--fa-font-solid);
  content: "\f4c4";
  padding-right: 10px;
}

.btn {
  height: 50px;
  width: 250px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 2px 4px 2px lightgray;
}
.btn:hover {
  box-shadow: 2px 3px 5px 3px lightgray;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  cursor: pointer;
}
.btn__order {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */