@charset "UTF-8";
/* tablette : 768
smartphone : 375 */
*:not(h1) {
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  width: auto;
}

main {
  width: auto;
}

footer {
  width: auto;
}

img {
  max-width: 100%;
}

@-webkit-keyframes loader {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-500px);
  }
  75% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(-9999px);
  }
}

@keyframes loader {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-500px);
  }
  75% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(-9999px);
  }
}
@-webkit-keyframes loadBtn {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360 deg);
  }
}
@keyframes loadBtn {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360 deg);
  }
}
.load {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  -webkit-animation: loader 3s 0s forwards;
          animation: loader 3s 0s forwards;
}
.load__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 250px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-animation: loadBtn 400ms linear infinite;
          animation: loadBtn 400ms linear infinite;
}
.load__btn i {
  font-size: 84px;
}

.myLocation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  box-shadow: inset 0 5px 5px -5px rgb(129, 129, 129);
}
.myLocation .locText {
  margin: 0;
}
.myLocation .locText::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  padding-right: 20px;
}

.locGuide {
  height: 250px;
  background-color: #f2f2f2;
  text-align: center;
}
.locGuide h2 {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.locGuide p {
  padding-left: 20px;
  padding-right: 20px;
}
.locGuide .btn {
  margin-top: 15px;
}

.opTitle {
  margin-top: 50px;
  padding-left: 20px;
}

.opNumber {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 15px;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}

.opBox {
  display: flex;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 4px 4px 4px lightgray;
  justify-content: space-between;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.opBox:hover {
  background-color: #f2eafb;
}
.opBox:hover .opIcon {
  color: #9356DC;
}

.opIcon {
  padding-right: 20px;
}

.restaurants {
  background-color: #f2f2f2;
  margin-top: 70px;
  height: 1200px;
}
.restaurants h2 {
  padding-left: 30px;
  padding-top: 30px;
}

.restCard {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  height: auto;
  max-height: 400px;
  position: relative;
  box-shadow: 2px 1px 4px 1px lightgray;
  border-radius: 20px;
  background-color: white;
}

.restCard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.newRest {
  position: absolute;
  right: 20px;
  top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newRest p {
  margin: 0;
}

.restInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
.restInfo .restText h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.restInfo .restText p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.restInfo .likeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.restInfo .likeIcon:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.restInfo .likeIcon:hover::after {
  opacity: 1;
}
.restInfo .likeIcon::after {
  font: var(--fa-font-solid);
  content: "\f004";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

header a {
  position: absolute;
  top: 25px;
  left: 30px;
  font-weight: bold;
  font-size: x-large;
}

.imgMenu {
  margin-top: 0;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}
.imgMenu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 2;
}

.completeMenu {
  height: 1250px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  z-index: 3;
}
.completeMenu h1 {
  margin-bottom: 20px;
  font-size: 26px;
  padding-left: 20px;
}

.restNameMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-top: 20px;
}
.restNameMenu i {
  font-size: x-large;
  padding-left: 30px;
}

.completeMenu {
  background-color: #f2f2f2;
}

.dishesCategory h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 5px;
}

.borderDishesCat {
  width: 50px;
  margin-left: 30px;
  border-top: 3px solid #99E2D0;
}

.dishesCard {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px lightgray;
}
.dishesCard p {
  margin: 0;
}

.dishesTxt {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  transform: scaleX(1);
}

.dishesName {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishesPrice {
  min-width: 50px;
  padding-left: 10px;
}

.dishesName,
.dishesPrice {
  font-weight: bold;
}

.dishesInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.dishesSide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishesCheck {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dishesCheck__circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishesCheck__circle i {
  color: #99E2D0;
}

.dishesTxt:hover + .dishesCheck {
  transform: scaleX(1);
}
.dishesTxt:hover {
  width: calc(100% - 80px);
  cursor: pointer;
}

.dishesCheck {
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}
.dishesCheck:hover {
  transform: scaleX(1);
  cursor: pointer;
}
.dishesCheck:hover + .dishesTxt {
  width: 50px;
}

/*

.btn {
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: rotate(0deg);
        }
        & > .boxes--rotTurns {
             transform: rotate(0turn);
        }
    }
}

.boxes {
   &--rotDegrees {
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
    }

    &--rotTurns {
        background: pink;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}

LE HTML : 
<div class="container">
    <button class="btn">Transform!</button>
    <div class="boxes">
        <div class="boxes__base boxes--rotDegrees">rotate(360deg)</div>
        <div class="boxes__base boxes--rotTurns">rotate(1turn)</div>
    </div>
</div>

____________________________________________________________________________________________________________________________________


$easing: cubic-bezier(.49,.18,.23,1);
$width: 33vh;
$height: 72vh;
$margin-right: 4vh;
$wid-marg: $width + $margin-right;
.card {
    width: $width;
    height: $height;
    overflow: hidden;
    &:not(:last-child){
        margin-right: $margin-right;
    }
    &--anim {
        transform: translateX($width-marg);
        transition: transform 700ms $easing;
    }
    &__contents {
        width: $width;
        overflow: hidden;
    &--anim {
            transform: translateX($wid-marg*-1);
            transition: transform 700ms $easing;
        }
    }
}
.btn {
    &--reveal {
        &:hover {
            & + .card {
                &--anim {
                    transform: translateX(0);
                }
                .card__contents--anim {
                    transform: translateX(0);
                }
            }
        }
    }
}



</>
$easing: cubic-bezier(.49,.18,.23,1);
$width: 33vh;
$height: 72vh;
$margin-right: 4vh;
$wid-marg: $width + $margin-right;
.card {
    width: $width;
    height: $height;
    overflow: hidden;
    &:not(:last-child){
        margin-right: $margin-right;
    }
    &--anim {
        transform: translateX($width-marg);
        transition: transform 700ms $easing;
    }   
    &__contents {
        width: $width;
        overflow: hidden;
    &--anim {
            transform: translateX($wid-marg*-1);
            transition: transform 700ms $easing;
        }
    }
    &__block {
    overflow: hidden;
    // une boucle créée avec sass qui itère de 1 à 3, en utilisant l'index
    // comme suffixe pour le nom --anim mod
    // ainsi que comme valeur pour multiplier la valeur de transition delay
    @for $i from 1 through 3 {
        &--anim-# {
                transform: translateX(-108%);
                transition: transform 500ms $easing 50ms*$i;
            }
        }
        &:not(:first-child) {
            margin-top: 1rem;
        }

}
.btn {
    &--reveal {
        &:hover {
            & + .card {
                &--anim {
                    transform: translateX(0);
                }
                .card__contents--anim {
                    transform: translateX(0);
                }
                .card__block--anim {
                    transform: translateX(0);
                }
            }
        }
    }
}

___________________________________________________________________________________________




___________________________________________________________________________________________________________________


.btn {
    &:hover + .box {
        transform: scale(1);
        span {
            transform: translateY(0);
        }
    }
}

.box {
    transform: scale(0.1);
    transition: transform 330ms ease-in-out;
    overflow: hidden;

    span {
        display: inline-block;
        transform: translateY(250%);
        transition: transform 280ms ease-out 50ms;
    }
}


*/
footer {
  height: 200px;
  background-color: #4d4d4d;
  color: white;
}
footer h4 {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
  padding: 30px;
  padding-bottom: 20px;
}

.footerList {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}
.footerList li {
  padding-bottom: 5px;
}
.footerList li a {
  text-decoration: none;
  color: white;
}

#propose::before {
  font: var(--fa-font-solid);
  content: "\f2e7";
  padding-right: 16px;
}

#partnership::before {
  font: var(--fa-font-solid);
  content: "\f4c4";
  padding-right: 10px;
}

.btn {
  height: 50px;
  width: 250px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 2px 4px 2px lightgray;
}
.btn:hover {
  box-shadow: 2px 3px 5px 3px lightgray;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  cursor: pointer;
}
.btn__order {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.testContainBtn {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  position: relative;
}

.testContain {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px lightgray;
}
.testContain p {
  margin: 0;
}

.testTxt {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  transform: scaleX(1);
}

.testName {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testPrice {
  min-width: 50px;
  padding-left: 10px;
}

.testName,
.testPrice {
  font-weight: bold;
}

.testInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.testSide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testCheck {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.testCheck__circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testCheck__circle i {
  color: #99E2D0;
}

.testContainBtn:hover + .testContain > .testTxt {
  width: calc(100% - 80px);
  cursor: pointer;
}
.testContainBtn:hover + .testContain > .testCheck {
  transform: scaleX(1);
}

.testCheck {
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}
.testCheck:hover {
  transform: scaleX(1);
  cursor: pointer;
}

.testCheck:hover + .testTxt {
  width: calc(100% - 80px);
}

/*

.btn {
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: rotate(0deg);
        }
        & > .boxes--rotTurns {
             transform: rotate(0turn);
        }
    }
}

.boxes {
   &--rotDegrees {
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
    }

    &--rotTurns {
        background: pink;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}

*//*# sourceMappingURL=main.css.map */