footer {
    height: 200px;
    background-color: darken($color: $color-background, $amount: 20%);
    color: white;
    @include desktop-only {
        background-color: aquamarine;
    }
    @include tab-only {
        background-color: pink;
    }

    h4 {
    font-family: Shrikhand;
    font-size: 22px;
    font-weight: lighter;
    margin: 0;
    padding: 30px;
    padding-bottom: 20px;
    }
}

.footerList {
    list-style-type: none;
    margin: 0;
    padding-left: 30px;

    li {
        padding-bottom: 5px;

        a {
            text-decoration: none;
            color: white;
        }
    }
}


#propose::before {
    font: var(--fa-font-solid);
    content: "\f2e7";
    padding-right: 16px;
}

#partnership::before {
    font: var(--fa-font-solid);
    content:"\f4c4";
    padding-right: 10px;
}

