@mixin center {
        display: flex;
        justify-content: center;
        align-items: center;
}

@mixin bold {
    font-weight: bold;
}


@mixin gradientIcon {
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    color:transparent;
}