/*responsive tablette*/


@media screen and (min-width:768px) and (max-width: 991px) {


    footer {
        background-color: mediumaquamarine;
    }


}






/*responsive desktop*/

@media screen and (min-width: 992px) {




    /*likeIcon Home*/


    
    .likeIcon {
        @include center;
        font-size: x-large;
        cursor: pointer;
        position:relative;
        z-index: 1;

        &:hover {

            @include gradientIcon;

            &::after {
                opacity:1;
            }
        }

        &::after {
            font: var(--fa-font-solid);
            content:"\f004";
            @include center;
            font-size:x-large;
            position: absolute;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            @include gradientIcon;
            opacity: 0;
            z-index: -1;
            transition: opacity 500ms;
        }
    }




    /*check sur les plats*/


    .dishesCard {
        &:hover > .dishesCheck {
            transform: scaleX(1);
            cursor: pointer;
        }
    
        &:hover > .dishesTxt {
            width: calc(100% - 80px);
            cursor: pointer;
        }
    
    }
    
    
    
    .dishesCheck {
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 500ms;
    }


    footer {
        background-color: violet;
    }




}