*:not(h1) {
    font-family: Roboto;
  }

h1{
    font-family: Shrikhand;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    @include center;
}


a {    
    display: block;
    text-decoration: none;
    color: black;
}


