.btn {
    height: 40px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border-radius: 20px;
    border: none;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}