

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: calc($anim-dur / 5);

@keyframes loader {
   0% {
    opacity: 1;
   }
   90% {
    opacity: 0.99;
   }

   99% {
    z-index:3;
   }
   100% {
    opacity: 0;
    z-index: -5;
   }
}

@keyframes loadBars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}


.load {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    animation: loader 3000ms 0s forwards;
    &__bar {
        height: 70%;
        width: $size*2;
        margin: auto;
        border-radius: 20px;
        background: linear-gradient($color-secondary, $color-primary);
        animation: loadBars $anim-dur backwards infinite ease-in-out alternate;
    }
}

.myLocation {
    height: 40px;
    @include center;
    background-color:lightgrey;
    box-shadow: inset 0 5px 5px -5px rgb(129, 129, 129);

    .locText {
        margin: 0;
    }

    .locText::before {
        font: var(--fa-font-solid);
        content:"\f3c5";
        padding-right: 20px;
    }
}

.locGuide {
    height: 250px;
    background-color: $color-background-light;
    text-align:  center;

    h2 {
        margin-top: 0px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn {
        margin-top: 15px;
    }
}


.opTitle {
    margin-top: 50px;
    padding-left: 20px;
}

.opNumber {
    height: 20px;
    width: 20px;
    background-color: $color-primary;
    border-radius: 15px;
    color: white;
    font-size: small;
    @include center;
    position: absolute;
    left: -10px;
}

.opBox {
    display: flex;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 4px 4px 4px lightgray;
    justify-content: space-between;
    position: relative;
    @include center;
    @include bold;

        &:hover {
            background-color: lighten($color-primary, $amount: 35%);
            .opIcon {
                color: $color-primary;
            }
        }
}

.opIcon {
    padding-right:20px;
}

.restaurants {
    background-color: #f2f2f2;
    margin-top: 70px;
    height: 1200px;

    h2 {
        padding-left: 30px;
        padding-top: 30px;
    }
}


.restCard {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    height: auto;
    max-height: 400px;
    position: relative;
    box-shadow: 2px 1px 4px 1px lightgray;
    border-radius: 20px;
    background-color: white;
}

.restCard img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.newRest {
    position:absolute;
    right: 20px;
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    background-color: $color-tertiary;
    color:(darken($color: $color-tertiary, $amount: 40%));
    @include bold;
    @include center;
    
        p {
            margin: 0;
        }
}


@keyframes likeIcon {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}




.restInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;

        .restText h3 {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .restText p {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .likeIcon {
            @include center;
            width: 70px;
            position: relative;
            font-size: x-large;
            cursor: pointer;
            border-radius: 50px;

            &:active > .likeIconWhite {
                @include gradientIcon;
            }

            &:active > .likeIconPink {
                animation: likeIcon 10000ms both;
            }


            /*
            .likeIconWhite {
                position: relative;

                &:active > .likeIconPink {
                    animation: likeIcon 10000ms forwards;
                }
            }
            */

            .likeIconWhite {
                position: absolute;
                top:23px;
                left:23px
            }

            .likeIconPink {
                position: absolute;
                top:23px;
               // right: 0;
               // bottom: 0;
               left: 23px;
                @include gradientIcon;
            }




            @include desktop-only {
                &:hover {

                    @include gradientIcon;
        
                    &::after {
                        opacity:1;
                    }
                }
        
                &::after {
                    font: var(--fa-font-solid);
                    content:"\f004";
                    @include center;
                    font-size:x-large;
                    position: absolute;
                    top:0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    @include gradientIcon;
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 500ms;
                }
            }
        }
    }



    /*

.restInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;

        .restText h3 {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .restText p {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .likeIcon {
            @include center;
            font-size: x-large;
            cursor: pointer;
            position:relative;
            z-index: 1;

            &:active {

                @include gradientIcon;

                &::after {
                    opacity:1;
                }
            }

            &::after {
                font: var(--fa-font-solid);
                content:"\f004";
                @include center;
                font-size:x-large;
                position: absolute;
                top:0;
                right: 0;
                bottom: 0;
                left: 0;
                @include gradientIcon;
                opacity: 0;
                z-index: -1;
                transition: opacity 500ms;
            }

            @include desktop-only {
                &:hover {

                    @include gradientIcon;
        
                    &::after {
                        opacity:1;
                    }
                }
        
                &::after {
                    font: var(--fa-font-solid);
                    content:"\f004";
                    @include center;
                    font-size:x-large;
                    position: absolute;
                    top:0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    @include gradientIcon;
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 500ms;
                }
            }
        }
    }

*/
    